<plugin>
	<nom><multi>Coordonnées GoogleMap</multi></nom>
	<slogan>Ajoute un module GoogleMap sur les adresses du plugin Coordonnées</slogan>
	<auteur>Julen Tessier - [Cahri->http://www.cahri.com/]</auteur>
	<licence>GNU/GPL</licence>
	<version>1.0.0</version>
	<etat>test</etat>
	<prefix>coordgmap</prefix>
	<lien>https://github.com/cahri/spip-coordgmap</lien>
	<necessite id="SPIP" version="[2.0.0;]" />
	<necessite id="coordonnees" version="[1.4.20;]" />
	<pipeline>
	        <nom>declarer_tables_principales</nom>
	        <inclure>base/coordgmap.php</inclure>
	</pipeline>
		<pipeline>
		<nom>editer_contenu_objet</nom>
		<inclure>coordgmap_pipelines.php</inclure>
	</pipeline>	
		<pipeline>
		<nom>pre_insertion</nom>
		<inclure>coordgmap_pipelines.php</inclure>
	</pipeline>	
		<pipeline>
		<nom>pre_edition</nom>
		<inclure>coordgmap_pipelines.php</inclure>
	</pipeline>	
	<version_base>0.1</version_base>
	<install>base/coordgmap_install.php</install>
	<categorie>auteurs</categorie>
</plugin>
